<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>USUARIOS</h1>
    
    
    <div>

    <div>{{user.username}}</div>
    <div>{{user.email}}</div>
    <div>{{user.created_at}}</div>
    <a href="http://localhost:8000/usuario/{{user.id}}/editar">
    <button>
        EDITE O USUSARIO
    </button></a>
    <a href="http://localhost:8000/usuario/{{user.id}}/apagar">
        <button>
            APAGUE O USUSARIO
        </button></a>
</div>

</body>
</html>