<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
        #formapagar{
            border: 2px solid black;
            background-color: red;
            padding: 5px;
            width: min-content;
            color: black;
            align-items: center;
        }
            </style>
</head>
<body>
    <h1>Voce deseja realmente apagar o post</h1>
    <form id="formapagar"action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Apagar">
    </form>
</body>
</html>