<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #posts {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>POSTS</h1>
    {%  for x in posts%}
    <div id="posts">

        <div>{{x.autor}}</div>
        <div>{{x.text}}</div>
        <div>{{x.date}}</div>
        <img src="{{x.imagem.url}}">
        <a href="http://localhost:8000/posts/{{x.id}}/apagar">
            <button>Apagar post</button>
        </a>
        <a href="http://localhost:8000/posts/{{x.id}}/editar">
            <button>Editar post</button>

        </a>
    </div>
    {% endfor %}
    <div>
        <a href="http://localhost:8000/criarpost">
            <button> Criar post</button>
        </a>
    </div>
</body>

</html>